* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-weight: 400;
    line-height: 1.7;
    --p: 'Montserrat', sans-serif;
    --h1: 'Oswald', sans-serif;
    --top_articles: 'Poppins', sans-serif;
    --h2: 'Poppins', sans-serif;
    --h3: 'Stint Ultra Condensed';
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: rgb(0, 0, 0);
    /* Create the gradient. */
    background-image: linear-gradient(-50deg, #f50d0d, #2f00ff);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.color {
    display: block;
    height: 600px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient( 130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
}

body {
    background: #262626;
}

a,
a:hover {
    text-decoration: none;
}


/*♦     All Page theme starts here      ♦*/

header {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

header>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>a>img {
    width: 150px;
}

header>a>p {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 9px;
}

header>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header>ul>li {
    margin-left: 5px;
}

header>ul>li>a {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}

header>ul>li>a>span {
    padding: 15px 20px;
    border-radius: 5px;
}

header>ul>li>a>span:hover {
    border-top: red 3px solid;
    border-bottom: rgb(224, 84, 84) 3px solid;
    color: white;
    transition: .4s;
}

.card {
    box-sizing: border-box;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 1.5rem rgb(17 17 17 / 70%);
    border-radius: 8px;
    margin: 10px 5px;
    border-radius: 20px;
}

.article {
    font-size: 64px;
    margin: 0 0 24px;
    color: white;
    font-family: 'Stint Ultra Condensed', cursive;
    text-shadow: 0 3px 3px rgb(0 0 0 / 50%);
    text-transform: uppercase;
}


/*♦     Article page  starts here      ♦*/

.art-container {
    width: 1200px;
    margin: 0 auto;
    height: max-content;
    margin-top: 70px;
}

.art-container>img {
    border-radius: 20px;
    width: 800px;
}

.art-container>img:hover {
    transform: rotate(-1deg);
    zoom: 101%;
    transition: 0.5s;
}

.article-container {
    display: flex;
    margin-top: 10px;
}

.copyright {
    color: rgb(130, 130, 133);
}

.article-container>.card {
    padding: 0 20px;
    max-width: 800px;
}

.article-container>.card>h1 {
    margin: 15px 0;
    font-family: var(--h1);
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.article-container>.card>h2 {
    font-family: var(--h2);
    font-weight: normal;
    margin: 20px 0 5px 0;
}

.article-container>.card>p {
    font-family: var(--p);
    padding: 10px 0;
    text-align: justify;
}

.article-container>.card>h3 {
    font-family: var(--h3);
    font-size: 25px;
}

.top-article {
    width: 300px;
    margin: 0 0 0 10px;
    padding: 0;
}

.top-article-title>p {
    margin: 0 auto;
    color: rgb(88, 71, 71);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--h1);
}

.top-article-list {
    width: 300px;
    height: max-content;
    margin: 0;
    padding-top: 10px;
    border-radius: 5px;
}

.list1 {
    display: flex;
    padding: 2px;
    margin-bottom: 20px;
}

.list1>img {
    width: 100px;
    height: 63px;
    margin: 0 10px 0 5px;
}

.list1>p {
    font-family: var(--top_articles);
    font-weight: bolder;
    color: rgb(37, 24, 24);
}


/*♦     Home page starts here      ♦*/

.containerr {
    height: max-content;
    max-width: 1350px;
    margin: 0 auto;
}

.list-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list {
    max-width: 430px;
}

.category {
    border-bottom: 2px solid #3e27a3;
    color: whitesmoke;
}

.list>a {
    margin: 10px;
}

.list>a>img {
    width: 100%;
    border-radius: 20px;
    border: none
}

.list>a>h1 {
    font-family: var(--h1);
    color: black;
    font-size: 1.2em;
    margin: 10px 0;
    padding-bottom: 3px;
    border-bottom: 2px cadetblue dashed;
}

.list>a>p {
    font-family: var(--p);
    color: #737373;
    text-align: justify;
}


/*♦     About Section Starts here      ♦*/

.about-container {
    padding: 0 20px;
    max-width: 1200px;
}

.about-container>p {
    color: aqua;
    font-size: 2em;
    text-align: justify;
}

.about-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.about-article {
    padding-left: 20px;
}


/*♦♦♦♦♦     Countdown Timer Code      ♦♦♦♦♦*/

.display {
    font-family: var(--h2);
}


/*♦     Footer Starts here      ♦*/

.site-footer {
    margin-top: 30px;
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}


/*Editted start*/
.sidenav{
    display: none;
}
.menuicon{
    display: none;
}
/*END*/

@media (max-width:1200px) {

    /*Editted start*/
    .sidenav{
        visibility: hidden;
        display: none;
    }
    .menuicon{
        display: none;
    }
    /*END*/

    .article-container {
        flex-direction: column;
    }
    .art-container,
    .art-container>img,
    .article-container,
    .article-container>.card {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width:991px) {

    /*Editted start*/
    .sidenav{
        visibility: hidden;
        display: none;
    }
    .menuicon{
        display: none;
    }
    /*END*/

    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:800px) {
    /*Editted start*/
    .sidenav{
        visibility: hidden;
        display: none;
    }
    .menuicon{
        display: none;
    }
    /*END*/


    header {
        margin-top: 20px;
    }
    header>a>img {
        width: 50px;
    }
    header>a>p {
        font-size: 1rem;
        text-transform: uppercase;
        color: white;
        margin-left: 0px;
    }
    header>ul>li {
        margin-left: 2px;
    }
    header>ul>li>a {
        color: white;
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
    }
    header>ul>li>a>span {
        padding: 15px 20px;
        border-radius: 5px;
    }
    .article {
        font-size: 40px;
    }
}

@media (max-width:767px) {
    /*Editted start*/
    .sidenav{
        visibility: hidden;
        display: none;
    }
    .menuicon{
        display: none;
    }
    /*END*/


    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
    .about-container>p {
        font-size: 16px;
    }
}

@media (max-width: 570px) {
    /*Editted start*/
    #sidebar{
        visibility: hidden;
    }
    /*END*/


    .color {
        display: block;
        height: 600px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient( 130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
        clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
    }

    header>ul>li>a {
        color: rgb(59, 21, 21);
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
    }
    header>ul>li>a>span {
        padding: 10px 10px;
        border-radius: 5px;
    }
}

@media (max-width: 450px) {
    
    /*header { 
        border: 1px solid black;
    }*/
    .test{
        display: none;
    }
    /*header>ul {
        padding: 10px 0 0 0;
        color: aqua;
    }/*
    header>ul>li>a {
        color: aqua;
    }*/

    /*New Edit*/
    .sidenav {
        display: block;
        visibility: visible;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        list-style-type: none;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      .menuicon{
        margin-top: -8px;
        margin-right: 20px;
        visibility: visible;
        display: block;
      }
      /*Edit End*/
}